{% extends "base.html" %} {% block content %}
<h1>Inventaris</h1>

<section>
    <h2>Equipment</h2>
    <a href="/equipment/add">Add Equipment</a>
    <ul>
        {% for e in equipment %}
        <li>{{ e.brand }} {{ e.name }} (cat: {{ e.category.name }})</li>
        {% endfor %}
    </ul>
</section>

<section>
    <h2>Cables</h2>
    <ul>
        {% for c in cables %}
        <li>{{ c.conn_a }} > {{ c.conn_b }} (length: {{ c.length }}m)</li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
