{% extends "base.html" %} {% block head_includes %}
<!-- JQuery (for Bootstrap Table) -->
<script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"
></script>

<!-- Icons -->
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
/>
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
/>

<!-- Bootstrap Table -->
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.0/dist/bootstrap-table.min.css"
/>
<script
    defer
    src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.0/dist/bootstrap-table.min.js"
></script>
{% endblock %} {% block content %}

<div class="mt-4 row justify-content-center">
    <div class="col-md-6">
        {% if job_id %}
            <h2 class="text-center">Bewerk klus</h2>
        {% else %}
            <h2 class="text-center">Voeg een klus toe</h2>
        {% endif %}

        <form
            id="job-form"
            class="d-flex flex-column"
            style="gap: 1rem"
            method="POST"
            action=""
        >
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label(class="form-label") }} {{
                form.name(class="form-control") }} {% for error in
                form.name.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.description.label(class="form-label") }} {{
                form.description(class="form-control") }} {% for error in
                form.description.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.start_date.label(class="form-label") }} {{
                form.start_date(class="form-control") }} {% for error in
                form.start_date.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.end_date.label(class="form-label") }} {{
                form.end_date(class="form-control") }} {% for error in
                form.end_date.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                <section>
                    <h2>Apparatuur</h2>
                    <table
                        data-toggle="table"
                        data-search="true"
                        data-show-columns="true"
                        data-toolbar="#toolbar"
                        data-search="true"
                        data-show-columns="true"
                        data-show-columns-toggle-all="true"
                        data-minimum-count-columns="2"
                        data-pagination="true"
                        data-id-field="id"
                        data-page-list="[10, 25, 50, 100, all]"
                        data-sortable="true"
                    >
                        <thead>
                            <th
                                data-field="count"
                                data-custom-attribute="count"
                            >
                                Aantal
                            </th>
                            <th
                                data-width="1rem"
                                data-field="total"
                                data-custom-attribute="total"
                                data-sortable="true"
                            >
                                Beschikbaar
                            </th>
                            <th
                                data-field="brand"
                                data-custom-attribute="brand"
                                data-sortable="true"
                            >
                                Merk
                            </th>
                            <th
                                data-field="name"
                                data-custom-attribute="name"
                                data-sortable="true"
                            >
                                Naam
                            </th>
                            <th
                                data-field="category"
                                data-custom-attribute="category"
                                data-sortable="true"
                            >
                                Category
                            </th>
                        </thead>
                        <tbody>
                            {% for e in equipment %}
                            <tr id="{{ e.id }}" class="tr-class-1">
                                <td>{{ form['e_count_' ~ e.id](class_='form-control') }}</td>
                                <td data-value="{{ e.count }}">
                                    <span class="{{ 'text-danger fw-bold' if e.available_count() == 0 else '' }}">
                                        {{ e.available_count() }}
                                    </span>
                                    /
                                    <span>{{ e.count }}</span>
                                </td>
                                <td data-text="{{ e.brand }}">{{ e.brand }}</td>
                                <td data-text="{{ e.name }}">{{ e.name }}</td>
                                <td data-text="{{ e.category.name }}">{{ e.category.name }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
            </div>
            <div class="form-group">
                <section>
                    <h2>Kabels</h2>
                    <table
                        data-toggle="table"
                        data-search="true"
                        data-show-columns="true"
                        data-toolbar="#toolbar"
                        data-search="true"
                        data-show-columns="true"
                        data-show-columns-toggle-all="true"
                        data-minimum-count-columns="2"
                        data-pagination="true"
                        data-id-field="id"
                        data-page-list="[10, 25, 50, 100, all]"
                        data-sortable="true"
                    >
                        <thead>
                            <th
                                data-field="count"
                                data-custom-attribute="count"
                            >
                                Aantal
                            </th>
                            <th
                                data-width="1rem"
                                data-field="total"
                                data-custom-attribute="total"
                                data-sortable="true"
                            >
                                Beschikbaar
                            </th>
                            <th
                                data-field="conn_a"
                                data-custom-attribute="conn_a"
                                data-sortable="true"
                            >
                                Connector A
                            </th>
                            <th
                                data-field="conn_b"
                                data-custom-attribute="conn_b"
                                data-sortable="true"
                            >
                                Connector B
                            </th>
                            <th
                                data-field="length"
                                data-custom-attribute="length"
                                data-sortable="true"
                            >
                                Lengte (m)
                            </th>
                            <th
                                data-field="category"
                                data-custom-attribute="category"
                                data-sortable="true"
                            >
                                Category
                            </th>
                        </thead>
                        <tbody>
                            {% for c in cables %}
                            <tr id="{{ c.id }}" class="tr-class-1">
                                <td>{{ form['c_count_' ~ c.id](class_='form-control') }}</td>
                                <td>
                                    <span class="{{ 'text-danger fw-bold' if c.available_count() == 0 else '' }}">
                                        {{ c.available_count() }}
                                    </span>
                                    /
                                    <span>{{ c.count }}</span>
                                </td>
                                <td data-text="{{ c.conn_a }}">{{ c.conn_a.name }} ({{ c.conn_a.gender_label() }})</td>
                                <td data-text="{{ c.conn_b }}">{{ c.conn_b.name }} ({{ c.conn_b.gender_label() }})</td>
                                <td data-text="{{ c.length }}">{{ c.length }}</td>
                                <td data-text="{{ c.category.name }}">{{ c.category.name }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
            </div>
            <div class="form-group mt-3">
                {{ form.submit(class="btn btn-primary w-100") }}
            </div>
        </form>
        {% if job_id %}
        <div>
            <a href="/job/{{job_id}}/delete" class="btn btn-danger w-100 mt-4">Verwijderen</a>
        </div>
        {% endif %}
        <br />
    </div>
</div>
{% endblock %}
